.advantages {
}
.advantages__inner {
	padding-top: 120px;
	padding-bottom: 157px;
}
.container {
}
.advantages__item {
	display: inline-flex;
	justify-content: space-between;
}
.advantages__item-content {
	max-width: 486px;
}
.pretitle {
	margin-bottom: 3px;
}
.advantages__item-title {
	margin-bottom: 22px;
	font-weight: 700;
	font-size: 36px;
}
.advantages__item-subtitle {
	margin-bottom: 30px;
}
.advantages__item-title-ul {
	margin-bottom: 12px;
	font-weight: 700;
}
.advantages__item-subtitle-ul {
	margin-bottom: 25px;
}
.advantages__img-bg {
	position: relative;
}
