
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 78px;
}

.menu {
	margin-left: 200px;
}
.menu__list {
	display: flex;
}
.menu__list-item + .menu__list-item {
	margin-left: 24px;
}
.menu__list-link {
	font-size: 14px;
	font-weight: 400;
	color: #2f281e;
}
.user-nav {
	margin-left: 53px;
	margin-right: 14px;
}
.user-nav__link {
	font-weight: 600;
	color: #173a56;
	padding: 11px 22px 11px 25px;
	border: 1px solid #bcd0e5;
	border-radius: 4px;
}

.user-nav__link + .user-nav__link {
	margin-left: 14px;
	font-weight: 600;
	color: #fff;
	background: #ff9900;
	border-radius: 4px;
	padding: 11px 23px 11px 25px;
	border-color: transparent;
}
